@model IEnumerable<myDoctor.Models.BacSi>
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image" style="background-image: url(../Scripts/assets/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="~/home/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Bác sĩ</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Bác sĩ của chúng tôi</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10" style="height:800px">

                <div class="row">
                    @foreach (var bs in Model)
                    {
                        <div class="col-md-5 col-lg-4 py-3 wow zoomIn">
                            <div class="card-doctor">
                                <div class="header">
                                    <img src="../Scripts/assets/img/doctors/doctor_1.jpg">
                                    <div class="meta">
                                        <a href="#"><span class="mai-call"></span></a>
                                        <a href="#"><span class="mai-logo-whatsapp"></span></a>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="text-xl mb-0">@bs.tenbs</p>
                                    <span class="text-sm text-grey">@bs.motabs</span>
                                </div>
                            </div>
                        </div>

                    }

                </div>
                <h1 class="text-center mb-3">Đội ngũ bác sĩ</h1>
                <div class="text-lg">
                    <p>Với kinh nghiệm lâu năm trong nghề, 
                    Các bác sĩ của chúng tôi đã và đang là tấm gương đầu tàu cho bệnh viện về chuyên môn lẫn y đức. 
                    Các bác sĩ đã đảm nhận rất nhiều vai trò và chức vụ trong ngành Y tế.</p>
                    <p>Phòng khám Quốc Bảo thành lập từ năm 2005 đến nay đã trải qua chiều dài kinh nghiệm trong lĩnh vực chăm sóc sức khỏe y tế cao cấp và tạo được sự tín nhiệm cao đối với khách hàng trong khu vực TP Đà lạt cũng như các tỉnh lân cận.</p>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->



<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-4 wow zoomIn">
                <div class="img-banner d-none d-lg-block">
                    <img src="../assets/img/mobile_app.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 wow fadeInRight">
                <h1 class="font-weight-normal mb-3">Dễ dàng sử dụng, dễ dàng đặt lịch</h1>
              
            </div>
        </div>
    </div>
</div> <!-- .banner-home -->
