


<form class="row contact_form" action="/user/addthannhan" method="post" novalidate="novalidate" style="width:auto; height:auto; margin-top:150px; margin-left:300px; margin-right:300px">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Thêm thân nhân</h4>

                <div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label> số điện thoại</label>
                            <input type="text" placeholder="09xxxx" class="form-control" id="sdt" name="sdt" />
                        </div>
                        <div class="form-group">
                            <label>Mối quan hệ với bệnh nhân</label>
                            <input type="text" placeholder="Cha" class="form-control" id="mqh" name="mqh" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btnOK" onclick="">Thêm</button>
                        <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>