
@{
    ViewBag.Title = "video_call";
    Layout = "~/Views/Shared/LayoutAccount.cshtml";
}

<style>
    #video-container {
        position: relative;
        margin: auto;
        width: 820px;
    }

    video {
        background-image: url('https://img.lovepik.com/photo/40007/4449.jpg_wh860.jpg');
    }

    #localVideo {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        z-index: 10;
        background: #333;
    }

    #remoteVideo {
        width: 100%;
    }

    #action-buttons {
        margin: auto;
        text-align: center;
    }

    .hidden-first {
        display: none;
    }
</style>


<div class="container">
    <div class="row">

       
          

            <div id="video-container">
                <video id="localVideo" autoplay muted></video>
                <video id="remoteVideo" autoplay height="480px"></video>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col" id="action-buttons">
            <button id="callButton" class="btn btn-success">Gọi</button>
            
            <button id="endCallButton" class="btn btn-danger hidden-first">Kết thúc</button>
        </div>

    </div>
</div>  



<script src="~/Scripts/CallVideo/js/lib/jquery.js"></script>
<script src="~/Scripts/CallVideo/js/lib/socket.io-2.2.0.js"></script>
<script src="~/Scripts/CallVideo/js/StringeeSDK-1.5.10.js"></script>




<script>
    var token = 'eyJjdHkiOiJzdHJpbmdlZS1hcGk7dj0xIiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJqdGkiOiJTS1pNTDFuODhJVHdRN0NLUmI1TXNLelRkNXdJTkJlTEJzLTE2MzUwNDc5NzYiLCJpc3MiOiJTS1pNTDFuODhJVHdRN0NLUmI1TXNLelRkNXdJTkJlTEJzIiwiZXhwIjoxNjM1MTM0Mzc2LCJ1c2VySWQiOiJ1c2VyMSJ9.FVmIXv6LvdsPTsVM_QjXyXzXWCry0-RfNM448xVmK6Y';
    var callerId = 'user1';
    var calleeId = 'user2';
</script>


<script src="~/Scripts/CallVideo/js/code.js"></script>
