<div style="width:auto; height:auto; margin-top:100px; margin-left:400px; margin-right:400px">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-size:20px; text-align:center; font-weight:bold" id="myModal-label">KẾT QUẢ KHÁM</h4>

           

                </div>
            </div>
        </div>
    </div>
</div>