<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Quốc Bảo</title>
   
    <!-- Bootstrap Core CSS -->
    <link href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Scripts/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- Animation CSS -->
    <link href="~/Scripts/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Scripts/css/style.css" rel="stylesheet">
  
    <link href="~/Scripts/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
                   href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="top-left-part">
                    <a class="logo" href="~/Home/index">
                       Quốc Bảo - Health
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Tìm kiếm..." class="form-control"> <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="profile-pic" href="#">
                            
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="~/home/index" class="waves-effect">
                            <i class="fa fa-clock-o fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/user/account" class="waves-effect">
                            <i class="fa fa-user fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/user/lichkham" class="waves-effect">
                            <i class="fa fa-table fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Lịch khám</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/user/thannhan" class="waves-effect">
                            <i class="fa fa-table fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Thân nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/user/nguoibenh" class="waves-effect">
                            <i class="fa fa-table fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Thông tin người bệnh</span>
                        </a>
                    </li>
                    <li>
                        <a href="blank.html" class="waves-effect">
                            <i class="fa fa-columns fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li>
                        <a href="blank.html" class="waves-effect">
                            <i class="fa fa-columns fa-fw"
                               aria-hidden="true"></i><span class="hide-menu">Tư vấn</span>
                        </a>
                    </li>

                </ul>
                <div class="center p-20">
                    <span class="hide-menu">
                        <a href="~/home/index" target="_blank"
                           class="btn btn-danger btn-block btn-rounded waves-effect waves-light">
                            Trở về trang chủ
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                  
                    <!-- /.col-lg-12 -->
                </div>
               @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center">
                2020 &copy; Quốc Bảo company <a href="~/home/index">Phòng khám Quốc Bảo</a>
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Scripts/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Scripts/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/js/custom.min.js"></script>
</body>

</html>