

<div class="page-hero bg-image overlay-dark" style="z-index:1; background-image: url(../Scripts/assets/img/bg_image_1.jpg);">
    <div class="hero-section">
        <div class="container text-center wow zoomIn">
            <span class="subhead">Phòng khám tư nhân</span>
            <h1 class="display-4">Quốc Bảo</h1>
            <a  class="btn btn-primary">Đặt lịch</a>
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Tư vấn</span>từ bác sĩ</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Thăm</span>-khám tận tâm</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Tiết </span>kiệm chi phí</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1>Welcome to Your Health <br> Center</h1>
                    <p class="text-grey mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Accusantium aperiam earum ipsa eius, inventore nemo labore eaque porro consequatur ex aspernatur. Explicabo, excepturi accusantium! Placeat voluptates esse ut optio facilis!</p>
                    <a href="about.html" class="btn btn-primary">Learn More</a>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="img-place custom-img-1">
                        <img src="../Scripts/assets/img/bg-doctor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .bg-light -->
</div> <!-- .bg-light -->




<div class="page-section">
    <div class="container">

        <h1 class="text-center wow fadeInUp" id="#2">Đặt lịch</h1>
        <form class="main-form" action="~/user/lichkham" method="post" novalidate="novalidate">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
          
                <div class="row mt-5 ">
                    <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                        <input type="text" class="form-control" name="hoten" placeholder="Họ tên..">
                    </div>
                    <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                        <input type="text" class="form-control" name="email" placeholder="Email..">
                    </div>
                    <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                        <input type="datetime-local" class="form-control" name="datetime">
                    </div>
                    <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                        <input type="text" class="form-control" name="sdt" placeholder="Số điện thoại..">
                    </div>

                    <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                        <textarea  name="mota" class="form-control" rows="6" placeholder="Mô tả triệu chứng.."></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Đặt lịch hẹn</button>
            </form>


    </div>
</div> <!-- .page-section -->

<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-4 wow zoomIn">
                <div class="img-banner d-none d-lg-block">
                    <img src="../assets/img/mobile_app.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 wow fadeInRight">
                <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
                <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
                <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
            </div>
        </div>
    </div>
</div> <!-- .banner-home -->
<style>
    .dathen .wpcf7-form-control-wrap .wpcf7-select,
    .dathen .wpcf7-form-control-wrap .wpcf7-text,
    .dathen .wpcf7-form-control-wrap .wpcf7-textarea {
        padding: 8px 15px;
        font-style: italic;
        border-radius: 5px;
    }

    .wpcf7 form .wpcf7-response-output {
        margin: 0em 0.5em 1em;
    }

    .dathen .wpcf7-form-control-wrap .wpcf7-textarea {
        height: 150px;
    }

    .dathen .wpcf7-form-control-wrap .wpcf7-select {
        height: 42px;
    }

    .dathen .wpcf7-form-control-wrap {
        margin-bottom: 15px;
    }

    .dathen .wpcf7-submit {
        border-radius: 5px;
        background-color: #e6af5f;
        font-weight: 600;
        transition: 0.3s;
        box-shadow: 1px 1px 1px;
    }

        .dathen .wpcf7-submit:hover {
            background: #efb96d;
        }

    .sgpb-popup-builder-content-204 .wpcf7 .wpcf7-response-output {
        font-size: 14px;
        text-align: center;
        color: #fff;
        background: #cf9d55;
        border-width: 1px;
        padding: 5px;
    }

    .dlk-col-2 .box-icon.box-icon-style-circle {
        box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.5);
    }

    .dathen .vc_row {
        margin: 0;
    }

    .xdsoft_datetimepicker.xdsoft_noselect.xdsoft_default {
        z-index: 2147483647;
    }
</style>